@import "/home/samuel/.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color0;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @color0;
  background: @color2;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @foreground;
  border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cava,
#mpris,
#memory,
#custom-arch,
#spotify,
#image,
#custom-mediaplayer,
#custom-mediacontrols,
#backlight {
  background: @background;
  opacity: 0.6;
  padding: 0px 10px;
  margin-top: 20px;
  border: 2px solid @color0;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
  color: @color5;
}

#temperature.critical {
  color: @color1;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 20px;
}

#workspaces {
  background: @background;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#window {
  color: @foreground;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#clock {
  color: @color3;
  border-radius: 0 10px 10px 0;
}

#network {
  color: @color3;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#bluetooth {
  color: @color4;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: @color4;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
  color: @color5;
  border-left: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: @color2;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

#memory {
  border-left: 0;
}

#mpris {
  border-radius: 10px 0px 0px 10px;
}

#custom-arch {
  border-radius: 10px 0 0 10px;
  margin-left: 20px;
  padding-right: 15px;
  border-right: 0;
  color: @color4;
}

#image {
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
}

#custom-mediaplayer {
  font-size: 16px;
  border-radius: 0px 0px 0px 0px;
  border-right: 0;
}

#custom-mediacontrols {
  font-size: 16px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}
@import "./waybar-mediaplayer/src/style.css";
