#custom-mediaplayer.perc0 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 0%, rgba(54, 58, 79, 0.3) 0.1%);
}
#custom-mediaplayer.perc1 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 1%, rgba(54, 58, 79, 0.3) 1.1%);
}
#custom-mediaplayer.perc2 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 2%, rgba(54, 58, 79, 0.3) 2.1%);
}
#custom-mediaplayer.perc3 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 3%, rgba(54, 58, 79, 0.3) 3.1%);
}
#custom-mediaplayer.perc4 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 4%, rgba(54, 58, 79, 0.3) 4.1%);
}
#custom-mediaplayer.perc5 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 5%, rgba(54, 58, 79, 0.3) 5.1%);
}
#custom-mediaplayer.perc6 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 6%, rgba(54, 58, 79, 0.3) 6.1%);
}
#custom-mediaplayer.perc7 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 7%, rgba(54, 58, 79, 0.3) 7.1%);
}
#custom-mediaplayer.perc8 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 8%, rgba(54, 58, 79, 0.3) 8.1%);
}
#custom-mediaplayer.perc9 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 9%, rgba(54, 58, 79, 0.3) 9.1%);
}
#custom-mediaplayer.perc10 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 10%, rgba(54, 58, 79, 0.3) 10.1%);
}
#custom-mediaplayer.perc11 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 11%, rgba(54, 58, 79, 0.3) 11.1%);
}
#custom-mediaplayer.perc12 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 12%, rgba(54, 58, 79, 0.3) 12.1%);
}
#custom-mediaplayer.perc13 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 13%, rgba(54, 58, 79, 0.3) 13.1%);
}
#custom-mediaplayer.perc14 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 14%, rgba(54, 58, 79, 0.3) 14.1%);
}
#custom-mediaplayer.perc15 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 15%, rgba(54, 58, 79, 0.3) 15.1%);
}
#custom-mediaplayer.perc16 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 16%, rgba(54, 58, 79, 0.3) 16.1%);
}
#custom-mediaplayer.perc17 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 17%, rgba(54, 58, 79, 0.3) 17.1%);
}
#custom-mediaplayer.perc18 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 18%, rgba(54, 58, 79, 0.3) 18.1%);
}
#custom-mediaplayer.perc19 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 19%, rgba(54, 58, 79, 0.3) 19.1%);
}
#custom-mediaplayer.perc20 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 20%, rgba(54, 58, 79, 0.3) 20.1%);
}
#custom-mediaplayer.perc21 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 21%, rgba(54, 58, 79, 0.3) 21.1%);
}
#custom-mediaplayer.perc22 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 22%, rgba(54, 58, 79, 0.3) 22.1%);
}
#custom-mediaplayer.perc23 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 23%, rgba(54, 58, 79, 0.3) 23.1%);
}
#custom-mediaplayer.perc24 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 24%, rgba(54, 58, 79, 0.3) 24.1%);
}
#custom-mediaplayer.perc25 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 25%, rgba(54, 58, 79, 0.3) 25.1%);
}
#custom-mediaplayer.perc26 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 26%, rgba(54, 58, 79, 0.3) 26.1%);
}
#custom-mediaplayer.perc27 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 27%, rgba(54, 58, 79, 0.3) 27.1%);
}
#custom-mediaplayer.perc28 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 28%, rgba(54, 58, 79, 0.3) 28.1%);
}
#custom-mediaplayer.perc29 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 29%, rgba(54, 58, 79, 0.3) 29.1%);
}
#custom-mediaplayer.perc30 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 30%, rgba(54, 58, 79, 0.3) 30.1%);
}
#custom-mediaplayer.perc31 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 31%, rgba(54, 58, 79, 0.3) 31.1%);
}
#custom-mediaplayer.perc32 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 32%, rgba(54, 58, 79, 0.3) 32.1%);
}
#custom-mediaplayer.perc33 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 33%, rgba(54, 58, 79, 0.3) 33.1%);
}
#custom-mediaplayer.perc34 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 34%, rgba(54, 58, 79, 0.3) 34.1%);
}
#custom-mediaplayer.perc35 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 35%, rgba(54, 58, 79, 0.3) 35.1%);
}
#custom-mediaplayer.perc36 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 36%, rgba(54, 58, 79, 0.3) 36.1%);
}
#custom-mediaplayer.perc37 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 37%, rgba(54, 58, 79, 0.3) 37.1%);
}
#custom-mediaplayer.perc38 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 38%, rgba(54, 58, 79, 0.3) 38.1%);
}
#custom-mediaplayer.perc39 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 39%, rgba(54, 58, 79, 0.3) 39.1%);
}
#custom-mediaplayer.perc40 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 40%, rgba(54, 58, 79, 0.3) 40.1%);
}
#custom-mediaplayer.perc41 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 41%, rgba(54, 58, 79, 0.3) 41.1%);
}
#custom-mediaplayer.perc42 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 42%, rgba(54, 58, 79, 0.3) 42.1%);
}
#custom-mediaplayer.perc43 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 43%, rgba(54, 58, 79, 0.3) 43.1%);
}
#custom-mediaplayer.perc44 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 44%, rgba(54, 58, 79, 0.3) 44.1%);
}
#custom-mediaplayer.perc45 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 45%, rgba(54, 58, 79, 0.3) 45.1%);
}
#custom-mediaplayer.perc46 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 46%, rgba(54, 58, 79, 0.3) 46.1%);
}
#custom-mediaplayer.perc47 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 47%, rgba(54, 58, 79, 0.3) 47.1%);
}
#custom-mediaplayer.perc48 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 48%, rgba(54, 58, 79, 0.3) 48.1%);
}
#custom-mediaplayer.perc49 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 49%, rgba(54, 58, 79, 0.3) 49.1%);
}
#custom-mediaplayer.perc50 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 50%, rgba(54, 58, 79, 0.3) 50.1%);
}
#custom-mediaplayer.perc51 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 51%, rgba(54, 58, 79, 0.3) 51.1%);
}
#custom-mediaplayer.perc52 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 52%, rgba(54, 58, 79, 0.3) 52.1%);
}
#custom-mediaplayer.perc53 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 53%, rgba(54, 58, 79, 0.3) 53.1%);
}
#custom-mediaplayer.perc54 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 54%, rgba(54, 58, 79, 0.3) 54.1%);
}
#custom-mediaplayer.perc55 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 55%, rgba(54, 58, 79, 0.3) 55.1%);
}
#custom-mediaplayer.perc56 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 56%, rgba(54, 58, 79, 0.3) 56.1%);
}
#custom-mediaplayer.perc57 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 57%, rgba(54, 58, 79, 0.3) 57.1%);
}
#custom-mediaplayer.perc58 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 58%, rgba(54, 58, 79, 0.3) 58.1%);
}
#custom-mediaplayer.perc59 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 59%, rgba(54, 58, 79, 0.3) 59.1%);
}
#custom-mediaplayer.perc60 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 60%, rgba(54, 58, 79, 0.3) 60.1%);
}
#custom-mediaplayer.perc61 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 61%, rgba(54, 58, 79, 0.3) 61.1%);
}
#custom-mediaplayer.perc62 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 62%, rgba(54, 58, 79, 0.3) 62.1%);
}
#custom-mediaplayer.perc63 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 63%, rgba(54, 58, 79, 0.3) 63.1%);
}
#custom-mediaplayer.perc64 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 64%, rgba(54, 58, 79, 0.3) 64.1%);
}
#custom-mediaplayer.perc65 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 65%, rgba(54, 58, 79, 0.3) 65.1%);
}
#custom-mediaplayer.perc66 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 66%, rgba(54, 58, 79, 0.3) 66.1%);
}
#custom-mediaplayer.perc67 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 67%, rgba(54, 58, 79, 0.3) 67.1%);
}
#custom-mediaplayer.perc68 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 68%, rgba(54, 58, 79, 0.3) 68.1%);
}
#custom-mediaplayer.perc69 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 69%, rgba(54, 58, 79, 0.3) 69.1%);
}
#custom-mediaplayer.perc70 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 70%, rgba(54, 58, 79, 0.3) 70.1%);
}
#custom-mediaplayer.perc71 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 71%, rgba(54, 58, 79, 0.3) 71.1%);
}
#custom-mediaplayer.perc72 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 72%, rgba(54, 58, 79, 0.3) 72.1%);
}
#custom-mediaplayer.perc73 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 73%, rgba(54, 58, 79, 0.3) 73.1%);
}
#custom-mediaplayer.perc74 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 74%, rgba(54, 58, 79, 0.3) 74.1%);
}
#custom-mediaplayer.perc75 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 75%, rgba(54, 58, 79, 0.3) 75.1%);
}
#custom-mediaplayer.perc76 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 76%, rgba(54, 58, 79, 0.3) 76.1%);
}
#custom-mediaplayer.perc77 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 77%, rgba(54, 58, 79, 0.3) 77.1%);
}
#custom-mediaplayer.perc78 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 78%, rgba(54, 58, 79, 0.3) 78.1%);
}
#custom-mediaplayer.perc79 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 79%, rgba(54, 58, 79, 0.3) 79.1%);
}
#custom-mediaplayer.perc80 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 80%, rgba(54, 58, 79, 0.3) 80.1%);
}
#custom-mediaplayer.perc81 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 81%, rgba(54, 58, 79, 0.3) 81.1%);
}
#custom-mediaplayer.perc82 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 82%, rgba(54, 58, 79, 0.3) 82.1%);
}
#custom-mediaplayer.perc83 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 83%, rgba(54, 58, 79, 0.3) 83.1%);
}
#custom-mediaplayer.perc84 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 84%, rgba(54, 58, 79, 0.3) 84.1%);
}
#custom-mediaplayer.perc85 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 85%, rgba(54, 58, 79, 0.3) 85.1%);
}
#custom-mediaplayer.perc86 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 86%, rgba(54, 58, 79, 0.3) 86.1%);
}
#custom-mediaplayer.perc87 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 87%, rgba(54, 58, 79, 0.3) 87.1%);
}
#custom-mediaplayer.perc88 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 88%, rgba(54, 58, 79, 0.3) 88.1%);
}
#custom-mediaplayer.perc89 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 89%, rgba(54, 58, 79, 0.3) 89.1%);
}
#custom-mediaplayer.perc90 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 90%, rgba(54, 58, 79, 0.3) 90.1%);
}
#custom-mediaplayer.perc91 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 91%, rgba(54, 58, 79, 0.3) 91.1%);
}
#custom-mediaplayer.perc92 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 92%, rgba(54, 58, 79, 0.3) 92.1%);
}
#custom-mediaplayer.perc93 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 93%, rgba(54, 58, 79, 0.3) 93.1%);
}
#custom-mediaplayer.perc94 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 94%, rgba(54, 58, 79, 0.3) 94.1%);
}
#custom-mediaplayer.perc95 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 95%, rgba(54, 58, 79, 0.3) 95.1%);
}
#custom-mediaplayer.perc96 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 96%, rgba(54, 58, 79, 0.3) 96.1%);
}
#custom-mediaplayer.perc97 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 97%, rgba(54, 58, 79, 0.3) 97.1%);
}
#custom-mediaplayer.perc98 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 98%, rgba(54, 58, 79, 0.3) 98.1%);
}
#custom-mediaplayer.perc99 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 99%, rgba(54, 58, 79, 0.3) 99.1%);
}
#custom-mediaplayer.perc100 {
  background-image: linear-gradient(to right, rgba(110, 115, 141, 0.3) 100%, rgba(54, 58, 79, 0.3) 100.1%);
}
