@import url("/home/samuel/.cache/wal/colors-waybar.css");

* {
  font-size: 30px;
}

window {
  background-color: transparent;
  border-radius: 10px;
}

#outer-box {
  background-color: @background;
  border: 2px solid @color13;
  border-radius: 10px;
  padding: 6px;
  margin: 0;
  padding-top: 15px;
}

#inner-box {
  margin: 4px;
  border: 4px solid transparent;
}

#entry {
  margin: 2px 4px;
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 10px;
  transition: 100ms ease-in-out;
}

#entry:selected {
  margin: 2px 4px;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  background-color: @color13;
  color: @color0;
  border-left: 2px solid @color11;
}

#text:selected {
  margin: 0;
  border: none;
  border-radius: 10px;
  color: @color0;
}
